.cardInput {
  border-radius: 4px;
  padding: 3px 10px;
  background: #1f4662;
  color: #c9a20d;
  border: 0px;
  width: 200px;
  height: 35px;
  margin-bottom: 8px;
}

.cardInput::placeholder {
  color: #898f94;
}
