.card {
  background: #1f4662;
  box-shadow: 1px 1px 1px rgba(0, 0, 0, 0.15);
  padding: 3px 10px;
  font-size: 12px;
  margin-bottom: 6px;
  border-radius: 3px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 35px;
  max-width: 500px;
  font-size: large;
  color: #ffa82b;
}

.card:hover {
  background: #234e6d;
  cursor: pointer;
}

.xbutton {
  background: #1f4662;
  border: 0;
  height: 100%;
  cursor: pointer;
}
